.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-background);
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.footer-address {
    font-style: inherit;
}

.footer-address-list-item:not(:last-child) {
    margin-bottom: 8px;
}

.address-link {
    color: var(--font-color-dark-background-opacity);

    transition: color 250ms var(--trans-time-function);

    &[target='_blank'] {
        color: var(--font-color-dark-background);
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: var(--font-color-dark-background);
}

.footer .social-link {
    color: var(--social-icons-hover-light);
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social-icon {
    fill: currentColor;
}

.subscribe-form-input {
    padding: 15px 16px;
    width: 100%;
    margin-bottom: 20px;
    color: var(--font-color-dark-background);

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    /* i don't know what the below property does, but it was in figma */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer .order-btn {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    text-align: center;
    margin: 0 auto;

    &:hover,
    &:focus {
        background-color: var(--order-button-hover-color);
    }
}

.icon-send {
    margin-left: 10px;
    fill: var(--font-color-dark-background);
}

@include mq(no-desktop) {
    .address-wrapper {
        text-align: center;
        margin-bottom: 60px;
    }

    .join-us-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    } 

    .subscribe-wrapper {
        text-align: center;
    }
}

@include mq(mobile) {
    .subscribe-form-input {
        width: 450px;
    }
}

@include mq(tablet) {
    .address-join-wrapepr {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
}

@include mq(desktop) {
    .footer-container {
        display: flex;
        align-items: baseline;
    }

    .address-wrapper {
        margin-right: 70px;
    }

    .subscribe-wrapper {
        margin-left: auto;
    }

    .footer .order-btn {
        display: inline-flex;
    }

    .subscribe-form-input {
        width: 358px;
        margin-right: 12px;
    }
}