.services {
    padding-top: 47px;
}

.service-img-wrapper {
    position: relative;
}

.service-img-text {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;

    color: var(--font-color-dark-background);
    background-color: rgba(47, 48, 58, 0.8);
}